*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", "Times New Roman", serif;
}
/*Centering the page*/
#page-wrapper{
    width: 80vw;
    margin: 0 auto;
}
/*Header starts*/
header{
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    background-color: lightblue;
    color: darkslategray;
}
/*Header ends*/
#container{
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: lightsteelblue;
}
nav{
    width: 30%;
}
nav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: skyblue;
    font-size: calc(2px + 2vw);
    text-align: center;
    list-style: none;
    padding-left: 0;
}
nav li{
    font-size: calc(3px + 3vw);
    width: 90%;
    background-color:lightseagreen;
    padding: 2vh 0;
    margin: 5vh auto;
    border-radius: 4vh 0.5vw;
}
nav a{
    text-decoration: none;
}
main{
    display: flex;
    flex-direction: column;
    width:100%;
    height:auto;
    background-color: lightsteelblue;
}
#main-title{
    margin: 2vw 0;
    text-align: center;
    font-size: calc(2px + 2vw);
    color: darkblue;
}
#main{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#calculator {
    background-image: url('stars.jpg');
    background-size: cover;
    background-position: center;
    margin: 2vh 5vw;
    padding: 5vw;
    border-radius: 5vw;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 50vh;
}
#label{
    font-size: calc(2px + 2vw);
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30vw;
    height:  30vh;
}
input{
    font-size: calc(1px + 1vw);
    padding: 1vw;
    box-sizing: border-box;
}
#buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1vw;
    width: 100%;
    align-items: center;
}
button{
    padding: 1vh 1.25vw;
    font-size: 1.5vw;
    background: cornflowerblue;
    border: none;
    border-radius: 1vw;
}
#output {
    text-align: center;
    font-size: 2vw;
    margin: 1vw;
    background: white;
    padding: 2vw;
    border-radius: 1vw;
    width: 100%;
}
footer{
    background-color: lightblue;
    color: darkblue;
    padding: 1vh 1vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer a{
    color: darkslategray;
}
@media screen and (max-width: 900px) {
    header{
        align-items: center;
    }
    #container{
        width: 100%;
        flex-direction: column;
    }
    nav{
        width: 100%;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: skyblue;
        list-style: none;
        padding-left: 0;
    }
    nav li{
        font-size: calc(2px + 1.5vw);
        background-color:lightseagreen;
        padding: 1% .5%;
        margin: 1% .5%;
        border-radius: 4vh 0.5vw;
    }
    nav a {
        text-decoration: none;
    }
    #main-title{
        text-align: center;
        color: darkblue;
    }
    #main{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    #calculator {
        background-image: url('stars.jpg');
        background-size: cover;
        background-position: center;
        margin: 2vh 5vw;
        padding: 5vw;
        border-radius: 5vw;
        color: deeppink;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        height: 50vh;
    }
    #label{
        font-size: calc(2px + 2vw);
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 30vw;
        height:  30vh;
    }
    input{
        font-size: calc(1px + 1vw);
        padding: 1vw;
        box-sizing: border-box;
    }
    #buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 1vw;
        width: 100%;
        align-items: center;
    }
    button{
        padding: 1vh 1.25vw;
        font-size: 1.5vw;
        background: cornflowerblue;
        border: none;
        border-radius: 1vw;
    }
    #output {
        text-align: center;
        font-size: 2vw;
        margin: 1vw;
        background: white;
        padding: 2vw;
        border-radius: 1vw;
        width: 100%;
    }
}